@{
    ViewBag.Title = "Sobre";
}

<div class="jumbotron text-center">
    <h1>Milton Daniel Yama Ribera</h1>
    <h4>Desenvolvedor Web</h4>
    <h4>e-mail: miltondyama@gmail.com &#8195; github: Myllth0m</h4>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Resumo</div>
            <div class="panel-body text-justify">
                Trabalho como desenvolvedor web desde 2019.
                Apesar de trabalhar com .NET, estudo e  sou fascinado pela área de Front-End, gosto de ReactJS,
                onde aplico meus conhecimentos em UI/UX  e minha criatividade.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Educação</div>
            <div class="panel-body text-justify">
                2017 - 2023 • União das Escolas Superiores de Rondônia - UNIRON <br />
                CST em Análise e desenvolvimento de sistemas
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Experiência</div>
            <div class="panel-body text-justify">
                2021 - atualmente <br />
                SETIC - Governo de Rondônia <br />
                Desenvolvedor Web <br />
                Trabalho com sistemas em .NET Core C#, DDD, utilizando SCRUM e Kanban
                para ter um melhor desempenho no desenvolvimento dos sistemas criados para atender as demais secretarias do governo.
                <br />
                2019 - 2021 <br />
                SUPEL - Governo de Rondônia <br />
                Desenvolvedor Web <br />
                Trabalhei com manutenção de sites legado, utilizando .NET C# e JQuery,
                também fui responsável por dirigir projetos desde a ideação até a produção, além de colher feedback pessoalmente com os usuários.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Conquistas</div>
            <div class="panel-body text-justify">
                Em 2021, participei na criação de um novo software de pesquisa de atas feito com o objetivo de facilitar as contratações públicas em Rondônia. <br />

                Ainda em 2021 fui responsável pela criação do portal do HEURO (Hospital de Urgência e Emergência de Rondônia), um projeto onde apliquei meus conhecimentos em front-end, utilizando ReactJS, Javascript e styled-components. <br />

                No início de 2022 participei como autor do projeto Prato Fácil que é um projeto de grande impacto para população de Rondônia <br />
            </div>
        </div>
    </div>
</div>