@using WebMVC.Models
@{
    ViewBag.Title = "Clima tempo";
    List<CidadeViewModel> cidadesFrias = ViewBag.CidadesFrias;
    List<CidadeViewModel> cidadesQuentes = ViewBag.CidadesQuentes;
}

<div class="jumbotron">
    <h1>Clima tempo simples</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Cidades mais quentes hoje</div>
            <div class="panel-body">
                @Html.Partial("_TemperaturaDasCidadesDeHoje", cidadesFrias)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Cidades mais frias hoje</div>
            <div class="panel-body">
                @Html.Partial("_TemperaturaDasCidadesDeHoje", cidadesQuentes)
            </div>
        </div>
    </div>
</div>